// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Encontre a seção com as variáveis de cores primárias e secundárias
:root {
  /** primary - tom principal de verde **/
  --ion-color-primary: #4CAF50;
  --ion-color-primary-rgb: 76, 175, 80;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #439a46;
  --ion-color-primary-tint: #5eb762;

  /** secondary - tom mais claro de verde **/
  --ion-color-secondary: #8BC34A;
  --ion-color-secondary-rgb: 139, 195, 74;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #7aac41;
  --ion-color-secondary-tint: #97c95c;

  /** success - verde mais vibrante **/
  --ion-color-success: #2E7D32;
  --ion-color-success-rgb: 46, 125, 50;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #286e2c;
  --ion-color-success-tint: #438a47;

  /* Manter as outras cores como estão ou ajustá-las conforme necessário */

  /** Adicionar duas novas cores personalizadas **/
  --ion-color-hope: #66BB6A;
  --ion-color-hope-rgb: 102, 187, 106;
  --ion-color-hope-contrast: #000000;
  --ion-color-hope-contrast-rgb: 0, 0, 0;
  --ion-color-hope-shade: #5aa55d;
  --ion-color-hope-tint: #76c27a;

  --ion-color-nature: #C5E1A5;
  --ion-color-nature-rgb: 197, 225, 165;
  --ion-color-nature-contrast: #000000;
  --ion-color-nature-contrast-rgb: 0, 0, 0;
  --ion-color-nature-shade: #adc691;
  --ion-color-nature-tint: #cbe4ae;
}

.ion-color-hope {
  --ion-color-base: var(--ion-color-hope);
  --ion-color-base-rgb: var(--ion-color-hope-rgb);
  --ion-color-contrast: var(--ion-color-hope-contrast);
  --ion-color-contrast-rgb: var(--ion-color-hope-contrast-rgb);
  --ion-color-shade: var(--ion-color-hope-shade);
  --ion-color-tint: var(--ion-color-hope-tint);
}

.ion-color-nature {
  --ion-color-base: var(--ion-color-nature);
  --ion-color-base-rgb: var(--ion-color-nature-rgb);
  --ion-color-contrast: var(--ion-color-nature-contrast);
  --ion-color-contrast-rgb: var(--ion-color-nature-contrast-rgb);
  --ion-color-shade: var(--ion-color-nature-shade);
  --ion-color-tint: var(--ion-color-nature-tint);
}
