<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Nova Instituição
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title-container ion-padding">
    <h2>Cadastrar Instituição</h2>
    <p>Preencha os dados da instituição que precisa de ajuda</p>
  </div>

  <form (ngSubmit)="saveInstitution()">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label position="floating">Nome da Instituição*</ion-label>
        <ion-input required [(ngModel)]="institution.name" name="name"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">CNPJ*</ion-label>
        <ion-input 
          required 
          [(ngModel)]="institution.cnpj" 
          name="cnpj" 
          inputmode="numeric"
          mask="00.000.000/0000-00"
          placeholder="00.000.000/0000-00">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Descrição da Causa*</ion-label>
        <ion-textarea rows="3" required [(ngModel)]="institution.description" name="description"></ion-textarea>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Necessidades</ion-label>
        <ion-textarea rows="2" [(ngModel)]="institution.needs" name="needs" 
          placeholder="Ex: Alimentos, roupas, dinheiro"></ion-textarea>
      </ion-item>
      
      <ion-item-divider>
        <ion-label>Informações de Contato</ion-label>
      </ion-item-divider>
      
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input 
          [(ngModel)]="institution.contact.phone" 
          name="phone" 
          inputmode="tel"
          mask="(00) 00000-0000"
          placeholder="(00) 00000-0000">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input 
          [(ngModel)]="institution.contact.email" 
          name="email" 
          inputmode="email" 
          type="email"
          placeholder="exemplo@instituicao.org.br">
        </ion-input>
      </ion-item>
    </ion-list>
    
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="submit-btn">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Cadastrar e Ajudar
      </ion-button>
    </div>
  </form>
</ion-content>
